@page
@model QuizApp.Pages.AnswerOptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnswerOption</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerOption.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerOption.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerOption.isCorrect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerOption.isCorrect)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnswerOption.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
