@page
@using QuizApp.Models
@model QuizApp.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
    var quizId = ViewData["QuizId"];

}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <h2>@Html.DisplayFor(model => model.Question.Text)</h2>
    <ul>
        @foreach(var option in @Model.AnswerOptions) {
            <a asp-page="/AnswerOptions/Edit" asp-route-id="@option.Id" asp-route-quizId="@quizId">
                @if(option.isCorrect) {
                    <li>@option.Text - Correct Answer</li>
                } else {
                    <li>@option.Text</li>
                }
            </a>
        }
    </ul>

</div>
<div>
    <a asp-page="/AnswerOptions/Create" asp-route-questionId = "@Model.Question.Id" asp-route-quizId="@quizId">Add Option</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id" asp-route-quizId = "@quizId">Edit</a> |
    <a asp-page="/Quizzes/Details" asp-route-id="@quizId">Back to Quiz</a>
</div>
